html {
    background: #222426;
    color: white;
    overflow-x: hidden;
}
body {
    background: #222426;
}

.mainh1 {
    color: white;
    text-align: center;
    font-size: 700%/*120pt*/;
    padding-top: 8%;
    padding-bottom: 2%;
}
.amain {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 250%/*40pt*/;
}
.amain:hover {
    color: #f53381;
}
.ma0 {
    display: block;
    margin-left: auto;
    margin-right: auto
}
/*Main*/
main {
    background-color: #222426;
}
.glbodarluna {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 170px;
}
.glbodar {
    width: 30%;
}

h2 {
    color: white;
    text-align: center;
}
.btnluna {
    margin-left: 44%;
}
  
.grid {
	position: relative;
	z-index: 100;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 0 6em;
	list-style: none;
}

.grid__item {
	display: block;
	-webkit-flex: none;
	flex: none;
	width: 33.33%;
	padding: 10px;
}

.js .grid__item {
	opacity: 0;
}

.grid__item--hidden {
	opacity: 0;
}

.grid__link {
	display: block;
	padding: 13px 13px 0 13px;
	background: rgb(255, 255, 255);
    text-decoration: none;
    outline: none;
}

.grid__img {
	display: block;
	width: 100%;
}

.grid__item-title {
	font-family: 'Caveat', cursive;
	line-height: 1;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 1em 0.5em;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #698b8d;
	background: #fff;
}

.priceuslugi {
    margin-left: 2.5%;
    display: inline;
}
footer {
    background: #98465f;
}

.fcbgq {
    padding-top: 15px;
    opacity: 90%;
    font-size: 100%;
    color: white;
}
.dstdn {
    display: none;
}
.footerbod {
    color: white;
    text-decoration: none;
}
.plbtn {
    padding-top: -5%;
    margin-left: 50%;
}

.grid__link_ou {
	display: block;
	padding: 13px 13px 0 13px;
	background: #f1d300;
    text-decoration: none;
    outline: none;
}
.grid__item-title_ou {
	font-family: 'Caveat', cursive;
	line-height: 1;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 1em 0.5em;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #698b8d;
	background: #f1d300;
}

@media screen and (max-width: 980px) {
    .mainh1 {
        font-size: 450%;
    }
    .mobdn {
        display: none;
    }
    .amain {
        font-size: 100%
    }
    .grid__item {
        width: 48%;
    }
    .grid__item-title {
        font-size: 100%;
    }
    .services_name{
        font-size: 50%
    }
    .priceuslugi {
        width: 100%;
    }
    .dstdn {
        display: block;
        width: 99.9%;
    }
 }